 <nav class="nav flex-column gap-2 mb-auto">
            <a href="#" class="nav-link text-white font-oswald active"><i class="bi bi-grid-1x2-fill me-3 text-lime"></i>Overview</a>
            <a href="#" class="nav-link text-secondary font-oswald"><i class="bi bi-qr-code-scan me-3"></i></i>QR Checker</a>
            <a href="#" class="nav-link text-secondary font-oswald"><i class="bi bi-calendar3 me-3"></i>Schedule Manager</a>
            <a href="#" class="nav-link text-secondary font-oswald"><i class="bi bi-person-badge me-3"></i>Membership Vault</a>
            <a href="#" class="nav-link text-secondary font-oswald"><i class="bi bi-shield-lock me-3"></i>Security Logs</a>
            
</nav>