   <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold fs-3" style="font-family: 'Oswald', sans-serif;" hx-get="/"
               hx-target="body"
               hx-push-url="true">
                CYBER <span style="color: var(--lime);">FITNESS</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item"><a class="nav-link px-3" href="/" >Home</a></li>
                    <li class="nav-item"><a class="nav-link px-3" href="/schedule" >Schedule</a></li>
                    <li class="nav-item"><a class="nav-link px-3" href="/trainers" >Trainers</a></li>

                    {% if user %}
                    <li class="nav-item"><a class="nav-link px-3" href="/profile" >Profile</a></li>
                    <li class="nav-item"><a class="nav-link px-3" href="/logout" >Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link px-3" href="/sign-in" >Sign In</a></li>
                    <li class="nav-item"><a class="nav-link px-3" href="/sign-up" >Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>